<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-10-md">
            <div class="page-header">
                <h1>게시판 등록</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <form th:action="@{/board/input}" th:object="${board}" method="post">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="제목을 입력해주세요" required>
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea type="text" th:field="*{content}" class="form-control" id="content" placeholder="내용을 입력해주세요" row="7" maxlength="140" required />
            </div>
            <button type="submit" class="btn btn-md btn-success">저장</button>
            <a href="/board/list" class="btn btn-md btn-info">목록</a>
        </form>
    </div>
</div>
</body>
</html>